{% extends "core/bas2.html" %} {% block content %}
		<!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="banner_content">
								<h2>eLEARNING ALLIANCE
								<br />NAMIBIA'S LEADING ONLINE LEARNING PLATFORM</h2>
								<p>Experience education with no bounds and endless possibilities. Our platform is tailor made for both students and teachers alike.</p>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="home_right_box">
								<img class="img-fluid" src="../static/img/uc2.png" alt="">
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
	</section>
        <!--================End Home Banner Area =================-->

{% endblock content %}
