{% extends "core/base.html" %} {% block content %}
<!--================Header Menu Area =================-->
<main>
	<section class="home" id="home">
        <header class="header_area">
           	<div class="top_menu">
           		<div class="container">
           			<div class="top_inner">
           				<div class="float-left">
           					<a href="#">Visit Us</a>
           					<a href="#">Online Support</a>
           				</div>
           				<div class="float-right">
           					<ul class="list header_socila">
           						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
           						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
           						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
           						<li><a href="#"><i class="fa fa-behance"></i></a></li>
           					</ul>
           				</div>
           			</div>
           		</div>
           	</div>
            <div class="main_menu" id="mainNav">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="#home"><img src="../static/img/netv3.png" alt=""><img src="../static/img/netv3.png" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
								<li class="nav-item active"><a class="nav-link" href="#courses">Courses</a></li>
								<li class="nav-item active"><a class="nav-link" href="#registration">Registration</a></li> 
								<li class="nav-item"><a class="nav-link" href="#about">About</a></li>
								<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
							</ul>
						</div> 
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->

		<!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="banner_content">
								<h2>eLEARNING ALLIANCE
								<br />NAMIBIA'S LEADING ONLINE LEARNING PLATFORM</h2>
								<p>Experience education with no bounds and endless possibilities. Our platform is tailor made for both students and teachers alike.</p>
								<a class="banner_btn" href="#registration">Get Started</a>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="home_right_box">
								<div class="home_item">
									<i class="fa fa-graduation-cap"></i>
								</div>
								<div class="home_item">
									<i class="fa fa-laptop"></i>
								</div>
								<div class="home_item">
									<i class="fa fa-pie-chart"></i>
								</div>
								<div class="home_item">
									<i class="fa fa-signal"></i>
								</div>
								<div class="home_item">
									<i class="fa fa-university"></i>
								</div>
								<div class="home_item">
									<i class="fa fa-book"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </section>
	</section>
        <!--================End Home Banner Area =================-->

		<!--================Courses Area =================-->
		<section class="courses p_120" id="courses">
			<div class="container">
				<div class="section-heading my-5 text-center">
					<h4 class="text-black">Courses</h4>
					<h1 class="display-4">Primary Level</h1>
				</div>
				<div class="row">
				<div class="col-sm-6">
					<div class="card">
					<div class="card-body">
						<h5 class="card-title text-center">Grades 4 - 5</h5>
						<ul class="list-group">
							<li class="list-group-item">English</li>
							<li class="list-group-item">Afrikaans</li>
							<li class="list-group-item">Mathematics</li>
							<li class="list-group-item">Social Studies</li>
							<li class="list-group-item">Agriculture</li>
							<li class="list-group-item">Design & Technology</li>
							<li class="list-group-item">Home Ecology</li>
						</ul>
					</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
					<div class="card-body">
						<h5 class="card-title text-center">Grades 6 - 7</h5>
						<ul class="list-group">
							<li class="list-group-item">English</li>
							<li class="list-group-item">Afrikaans</li>
							<li class="list-group-item">Mathematics</li>
							<li class="list-group-item">Social Studies</li>
							<li class="list-group-item">Agriculture</li>
							<li class="list-group-item">Design & Technology</li>
							<li class="list-group-item">Home Ecology</li>
						</ul>
					</div>
					</div>
				</div>
				</div>
				<hr style="width:70%; margin-top:3rem;">
				<!--Secondary Level-->
				<div class="section-heading my-5 text-center">
					<h4 class="text-black">Courses</h4>
					<h1 class="display-4">Secondary Level</h1>
				</div>
				<div class="row">
				<div class="col-sm-6">
					<div class="card">
					<div class="card-body">
						<h5 class="card-title text-center">Grades 8 - 9</h5>
						<ul class="list-group">
							<li class="list-group-item">English</li>
							<li class="list-group-item">Afrikaans</li>
							<li class="list-group-item">Mathematics</li>
							<li class="list-group-item">Physical Science</li>
							<li class="list-group-item">Life Science</li>
							<li class="list-group-item">History</li>
							<li class="list-group-item">Geography</li>
							<li class="list-group-item">Accounting</li>
							<li class="list-group-item">Entrepreneurship</li>
							<li class="list-group-item">Computer</li>
							<li class="list-group-item">Keyboard & Word Processing (KAP)</li>
							<li class="list-group-item">Design & Technology</li>
							<li class="list-group-item">None</li>
							<li class="list-group-item">None</li>
							<li class="list-group-item">None</li>
						</ul>
					</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card">
					<div class="card-body">
						<h5 class="card-title text-center">Grades 10 - 12</h5>
						<ul class="list-group">
							<li class="list-group-item">English</li>
							<li class="list-group-item">Afrikaans</li>
							<li class="list-group-item">Mathematics</li>
							<li class="list-group-item">Physical Science</li>
							<li class="list-group-item">Development Studies</li>
							<li class="list-group-item">History</li>
							<li class="list-group-item">Geography</li>
							<li class="list-group-item">Accounting</li>
							<li class="list-group-item">Entrepreneurship</li>
							<li class="list-group-item">Computer</li>
							<li class="list-group-item">Economics</li>
							<li class="list-group-item">Design & Technology</li>
							<li class="list-group-item">Business Studies</li>
							<li class="list-group-item">Chemistry</li>
							<li class="list-group-item">Biology</li>
						</ul>
					</div>
					</div>
				</div>
				</div>
			</div>
			<hr style="width:70%; margin-top:3rem;">
		</section>
		<!--================End Courses Area =============-->

		<!--================Registration Area ============-->
		<section class="registration p_120" id="registration">
			<div class="container">
				<div class="section-heading my-5 text-center">
					<h4 class="text-black">Student</h4>
					<h1 class="display-4">Registration</h1>
				</div>
				<!-- Jumbotron -->
				<div class="jumbotron text-center mdb-color lighten-2 white-text mx-2 mb-5">
					<h2 class="card-title h2">Please Select Current School</h2>
					<p class="my-4 h6">*Please use the ID number allocated to you at school to register.</p>
					<div class="row d-flex justify-content-center">
					<!-- Grid column -->
					<div class="col-xl-7 pb-2">
					<p class="card-text">*Upon successful registration, enroll in classes allocated for your specific grade level.</p>
					</div>
					<!-- Grid column -->
					</div>
					<!-- Grid row -->
					<hr class="my-4 rgba-white-light">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Please Select School
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="{% url 'jan_mohr' %}">Jan Möhr Secondary School</a>
							<a class="dropdown-item" href="{% url 'error' %}">Academia Secondary School</a>
							<a class="dropdown-item" href="{% url 'error' %}">Centaurus High School</a>
						</div>
					</div>
				</div>
			</div>
			<hr style="width:70%; margin-top:3rem;">
		</section>
		<!--================End Registration Area ========-->
		
		<!--================Feature Area =================-->
        <section class="feature_area p_120" id="about">
        	<div class="container">
        		<div class="section-heading my-5 text-center">
					<h4 class="text-black">All</h4>
					<h1 class="display-4">About Us</h1>
				</div>
        		<div class="row feature_inner">
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-user"></i>Expert Lecturers</h4>
        					<p>Our lessons are created by highly educated professional individuals who are experts in thier specific fields.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-license"></i>Professional Service</h4>
        					<p>Unlike other elearning platforms, we cater to each individual school and its learners and staff.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-phone"></i>Great Support</h4>
        					<p>We provider 24/7 support to our clients. Technical support staff are ready to assist with any type of query.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-rocket"></i>Technical Skills</h4>
        					<p>Usage of the Internet is becoming more common due to rapid advancement of technology and power.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-diamond"></i>Highly Recomended</h4>
        					<p>Due to our unique approach to online learning in Namibia, we come highly recommended in the industry.</p>
        				</div>
        			</div>
        			<div class="col-lg-4 col-md-6">
        				<div class="feature_item">
        					<h4><i class="lnr lnr-bubble"></i>Positive Reviews</h4>
        					<p>Our individual approach to the various schools have brought about positive reviews from all over the country.</p>
        				</div>
        			</div>
        		</div>
				{% comment %} meet the team {% endcomment %}
				<!-- Meet Our Team -->
				<section id="team">
					<div class="container">
						<div class="row justify-content-center">
							<div class="section-heading my-5 text-center">
								<h4 class="text-black">Meet</h4>
								<h1 class="display-4">Our Team</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="member">
								<div class="member-img">
									<img src="../static/img/jack.jpg" class="img-fluid" alt="">
								</div>
									<div class="member-info">
										<h4>Jackson K. Swartz</h4>
										<span>Director</span>
										<div class="social-links">
											<a href="#"><i class="fab fa-facebook-f"></i></a>
											<a href="#"><i class="fab fa-twitter"></i></a>
											<a href="#"><i class="fab fa-linkedin-in"></i></a>
											<a href="#"><i class="fab fa-pinterest-p"></i></a>
											<a href="#"><i class="fab fa-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6">
								<div class="member">
								<div class="member-img">
									<img src="../static/img/headshot.jpg" class="img-fluid" alt="">
								</div>
									<div class="member-info">
										<h4>Quintin J. Goraseb</h4>
										<span>Software Engineer</span>
										<div class="social-links">
											<a href="#"><i class="fab fa-facebook-f"></i></a>
											<a href="#"><i class="fab fa-twitter"></i></a>
											<a href="#"><i class="fab fa-linkedin-in"></i></a>
											<a href="#"><i class="fab fa-pinterest-p"></i></a>
											<a href="#"><i class="fab fa-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6">
								<div class="member">
								<div class="member-img">
									<img src="../static/img/default.png" class="img-fluid" alt="">
								</div>
									<div class="member-info">
										<h4>John Doe</h4>
										<span>Editor</span>
										<div class="social-links">
											<a href="#"><i class="fab fa-facebook-f"></i></a>
											<a href="#"><i class="fab fa-twitter"></i></a>
											<a href="#"><i class="fab fa-linkedin-in"></i></a>
											<a href="#"><i class="fab fa-pinterest-p"></i></a>
											<a href="#"><i class="fab fa-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-3 col-md-6">
								<div class="member">
								<div class="member-img">
									<img src="../static/img/default.png" class="img-fluid" alt="">
								</div>
									<div class="member-info">
										<h4>Jane doe</h4>
										<span>Editor</span>
										<div class="social-links">
											<a href="#"><i class="fab fa-facebook-f"></i></a>
											<a href="#"><i class="fab fa-twitter"></i></a>
											<a href="#"><i class="fab fa-linkedin-in"></i></a>
											<a href="#"><i class="fab fa-pinterest-p"></i></a>
											<a href="#"><i class="fab fa-instagram"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				{% comment %} end meet the team {% endcomment %}
        	</div>
			<hr style="width:70%; margin-top:3rem;">
        </section>
        <!--================End Feature Area =================-->

		<!--================Contact Area =================-->
		<section class="contact p_120" id="contact">
    		<div class="container-contact2">
				<div class="wrap-contact2">
					<form method="POST" action="." class="contact2-form validate-form">
						{% csrf_token %}
						<div class="section-heading my-5 text-center">
								<h1 class="display-4">Contact Us</h1>
							</div>
						<div class="wrap-input2 validate-input" data-validate="Name is required">
							<input class="input2" type="text" name="name">
							<span class="focus-input2" data-placeholder="NAME"></span>
						</div>

						<div class="wrap-input2 validate-input" data-validate="Valid email is required: ex@abc.xyz">
							<input class="input2" type="text" name="email">
							<span class="focus-input2" data-placeholder="EMAIL"></span>
						</div>

						<div class="wrap-input2 validate-input" data-validate="Message is required">
							<textarea class="input2" name="message"></textarea>
							<span class="focus-input2" data-placeholder="MESSAGE"></span>
						</div>
						<div class="contact2-btn justify-content-center">
							<a class="banner_btn mt-4  mb-5 mb-md-0">Send Message</a>
						</div>
					</form>
				</div>
			</div>
		</section>
		<!--================End Contact Area =================-->
		<a id="back2Top" title="Back to top" href="#home">&#10148;</a>
</main>
{% endblock content %}